<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddLive iOS Tutorials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tutorial1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tutorial2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tutorial4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F23FFAB218721A4C00F30444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23FFAD118721A4D00F30444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDA2B1871F70300273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDA4F1871F70300273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDA6A1871F77000273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDA891871F77100273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDAD71872074700273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDAF61872074800273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDB1B18720A3100273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27EDB3A18720A3200273A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
